body {
  margin: 0;
}

* {
  box-sizing:border-box;
}

input {
  border: none;
  font-size:18px;
  width: 85%;
  padding: 10px;
}

.addButton {
  padding: 10px;
  width: 15%;
  text-align: center;
  font-size:18px;
  background-color: #c1dfff;
}

.addButton:hover {
  background-color: #d8ebff;
}

ul {
  padding: 0;
  margin: 0
}

ul li {
  position: relative;
  padding: 10px 10px 10px 20px;
  background: #e8ebef;
}

.header {
  background-color: #8ac1fc;
}

h2 {
  text-align: center
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 10px 10px 20px;
}

.close:hover {
  background-color: #99e7ff;
}